body{
    text-align: center;
}

h1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;  
}

h1{
    margin-top: 50px;
    margin-bottom: 20px;
}

h2{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;

}

button{
    color:black;
    border-radius: 20px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 250px;
    margin-bottom: 5px;
    font-size: 20px;

}

#increment-btn{
    background-color: #990012;
}

#save-button{
    background-color:#54C571;
}

#reset-btn{
    background-color: #827B60;
}

#prevEn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

div{
    margin: 0 auto;
    width:70%;
    border:1px solid brown;
    border-width:10px;
 
    
    justify-content: center;
    
    
    
    
   
  
 

}